*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* custome class style */
.w-30{
  width: 30% !important;
}
.w-70{
  width: 70% !important;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 0.5rem !important;
  --bs-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}